body{
 font-family: ubuntu;
 margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 11vh;
    background-color: black;
    color: white;
}
header>div>ul{
    display: flex;
    list-style: none;
    font-size: 50%;
}
.headerLogo{
   height: 30%;
   display: block;
   justify-content: space-around;
}
#hautDePage{
    background-color: rgb(51, 77, 92);
    color: white;
    display: flex;
}
#hautDePage>div>:nth-of-type()1){
    font-size: 500%
}